.container {
  /* font-family: ; */
  width: 15rem;
  height: auto;
  background-color: white;
  aspect-ratio: 3/4;
  border-radius: 1rem;
  overflow: hidden;
  color: black;
}

.img-container {
  height: 60%;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-heading {
  font-size: large;
  font-weight: 700;
}

.card-btn {
  border: 4px solid #ff6500;
  padding: 1.5% 5%;
  border-radius: 15px;
  margin: 2px;
  font-weight: 700;
}

.card-btn:hover {
  color: white;
  background-color: #ff6500;
}
